<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=blocks.title%></title>

    <link rel="stylesheet" href="/public/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/style.css">

    <script src="/public/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/public/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
    <header>
        <%-blocks.header%>
    </header>
    <section class="container">
        <%-partial('../partials/topNavigation.ejs')%>

        <h1><%=blocks.title%></h1>

        <%-body -%>
    </section>
    <footer>
        <%-blocks.footer%>
    </footer>



</body>
</html>
